    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }
    
    a {
        text-decoration: none;
        color: inherit;
        display: inline-block;
    }
    
    ul {
        list-style: none;
    }
    
    body {
        color: #505050;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
    }
    
    .container {
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }
    
    .container-content {
        max-width: 970px;
        margin: 0 auto;
    }
    
    .section-line {
        border-bottom: 1px solid rgba(208, 212, 216, 0.5);
    }
    
    .title {
        font-family: Georgia;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        color: #4e5665;
        font-weight: 400;
    }
    
    .header_top {
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 40px;
    }
    
    .header_top_inner {
        border: 2px solid #ecb84c;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        height: 100%;
        color: #ffffff;
        font-family: Georgia;
    }
    
    .header_title {
        font-weight: bold;
        font-size: 200px;
        line-height: 227px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        margin: auto;
        font-weight: 700;
    }
    
    .header_text {
        font-size: 24px;
        line-height: 27px;
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
        display: flex;
        white-space: nowrap;
        align-items: center;
        margin-bottom: -12px;
    }
    
    .header_text::after,
    .header_text::before {
        content: "";
        border-top: 2px solid #ecb84c;
        width: 100%;
    }
    
    .header_text::after {
        margin-left: 30px;
    }
    
    .header_text::before {
        margin-right: 30px;
    }
    
    .menu {
        border-bottom: 1px solid rgba(208, 212, 216, 0.5);
    }
    
    .menu_list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu_list-link {
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        padding: 24px 10px 20px;
        color: #909090;
        margin: 0 6px;
        border-bottom: 4px solid transparent;
        transition: all 0.5s;
    }
    
    .menu_list-link:hover {
        color: #4e5665;
        border-bottom: 4px solid #ecb84c;
    }
    
    .reason {
        padding: 80px 0 0;
    }
    
    .reason_title {
        margin-bottom: 22px;
    }
    
    .reason_link {
        text-align: right;
    }
    
    .reason_link a {
        font-weight: 700;
        color: #ecb84c;
        margin-bottom: 36px;
    }
    
    .reason_statistics {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding-bottom: 80px;
    }
    
    .reason_statistics-num {
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        margin-top: 32px;
        color: #4e5665;
    }
    
    .reason_statistics-text {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #909090;
    }
    
    .about {
        padding: 80px 0 0;
    }
    
    .about_title {
        margin-bottom: 13px;
    }
    
    .about_text {
        margin-bottom: 72px;
    }
    
    .about__item {
        margin-bottom: 100px;
        padding: 70px 0;
        background-repeat: no-repeat;
        background-position: right;
    }
    
    .about__box {
        padding: 33px 40px;
        background-color: #fff;
        max-width: 470px;
        position: relative;
    }
    
    .about__box::after,
    .about__box::before {
        content: "";
        position: absolute;
        width: 33px;
        height: 33px;
    }
    
    .about__box::before {
        background-image: url('../images/decor-left.svg');
        top: 19px;
        left: 19px;
    }
    
    .about__box::after {
        border-bottom: 2px solid #ecb84c;
        border-right: 2px solid #ecb84c;
        bottom: 19px;
        right: 19px;
    }
    
    .about__box-title {
        font-family: "Georgia";
        font-size: 24px;
        line-height: 25px;
        color: #4e5665;
        margin-bottom: 20px;
    }
    
    .about__item:nth-child(even) {
        background-position: left;
    }
    
    .about__item:nth-child(even) .about__box {
        margin-left: auto;
    }
    
    .about__item:nth-child(even) .about__box::before {
        right: 19px;
        left: auto;
        background-image: none;
        border-right: 2px solid #ecb84c;
        border-top: 2px solid #ecb84c;
    }
    
    .about__item:nth-child(even) .about__box::after {
        left: 19px;
        border-right: none;
        border-left: 2px solid #ecb84c;
    }
    
    .about__preview-title {
        margin-bottom: 38px;
    }
    
    .about__preview-text {
        margin: 53px auto 80px;
    }
    
    .about__images-box {
        padding-top: 73px;
        position: relative;
    }
    
    .about__dot {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: rgba(236, 184, 76, 0.75);
        position: absolute;
        cursor: pointer;
    }
    
    .about__dot--3 {
        top: 147px;
        right: 374px;
    }
    
    .about__dot::after {
        content: "";
        position: absolute;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: #ECB84C;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .photo {
        padding: 80px 0;
    }
    
    .photo__title {
        margin-bottom: 42px;
    }
    
    .photo__text {
        padding-bottom: 48px;
        margin-bottom: 56px;
        position: relative;
    }
    
    .photo__text::after {
        content: "";
        position: absolute;
        width: 270px;
        height: 1px;
        background-color: rgba(208, 212, 216, 0.5);
        bottom: 0;
        margin: 0 auto;
    }
    
    .photo__slider {
        max-width: 640px;
        margin: 0 auto;
        filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.3));
    }
    
    .slick-arrow {
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #ECB84C;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
    }
    
    .slick-prev {
        left: -20px;
    }
    
    .slick-next {
        right: -20px;
    }
    
    .footer {
        background: #F8F8F8;
        padding: 50px 0 32px;
    }
    
    .footer__items {
        display: flex;
        justify-content: space-between;
    }
    
    .footer__item {
        width: 140px;
    }
    
    .footer__item--company {
        width: 300px;
        padding-left: 180px;
    }
    
    .footer__item--blog {
        width: 300px;
    }
    
    .footer__item-title {
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        color: #4E5665;
        padding-bottom: 20px;
        text-transform: uppercase;
    }
    
    .footer__item-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        padding-bottom: 8px;
    }
    
    .footer__item-link--social {
        padding-left: 28px;
        position: relative;
    }
    
    .footer__item-link--social::before {
        content: "";
        position: absolute;
        left: 0;
        width: 16px;
        height: 16px;
    }
    
    .footer__item-link--messege::before {
        background-image: url('../images/massege.svg');
        width: 17px;
        top: 1px;
    }
    
    .footer__item-link--facebook::before {
        background-image: url('../images/facebook-logo.svg');
    }
    
    .footer__item-link--instagram::before {
        background-image: url('../images/instagram-logo.svg');
    }
    
    .footer__item-link--youtube::before {
        background-image: url('../images/youtube-symbol.png');
    }
    
    .footer__item-link--email::before {
        background-image: url('../images/email-symbol.svg');
        height: 13px;
        top: 2px;
    }
    
    .footer__copies {
        background-image: url('../images/.svg');
        padding-top: 40px;
        text-align: center;
        font-size: 14px;
        line-height: 19px;
    }